/* @font-face {
    font-family: myFirstFont;
    src: url("perma.woff")
  }
 */
.logo {
    width: 80%;
    position: relative;
    align-content: center;
}

body {
    background-color: rgb(22, 9, 33);
    text-align: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    display: flexbox;
    justify-items: center;
    align-content: center;
}
h1 {
    color: rgb(46, 165, 42);
    font-size: 32;
}
.descripcion {
    color: #db0909;
    line-height: 20px;
    font-size: 22px;
}
.santiMax {
    font-size: 28px;
}
.container {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /*background-color: #db0909;*/
    text-align: center;
}
.cover {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 20%;
    margin: 10 10;
    position: relative;
    margin: 10px 10px;
    gap: 20px 20px;
    border: 10px solid rgb(46, 165, 42);
    text-decoration: none;
    display: flex;
    align-items:center;
    justify-content:center; 
}
.cover:hover {
    animation-name: ANim_borde;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes ANim_borde {
    0% {border: 10px solid rgb(46, 165, 42);}
    100% {border: 10px solid #db0909;
        border-radius: 30%;
    }
}
.titulo {
    opacity: 0;
    line-height: 50px;
    vertical-align: middle;
    font-size: 60px;
    text-align: center;
    color: #db0909;
}
.cover:hover .titulo {
    animation-name: ANim_titulo;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

}
@keyframes ANim_titulo {
    0% {transform: scale(0);
        opacity: 0;
        text-shadow: 0px 0px 50 rgb(22, 9, 33),
                     0px 0px 50 rgb(22, 9, 33),
                     0px -0px 50 rgb(22, 9, 33),
                    0px 0px 50 rgb(22, 9, 33); 
        
    }
    100% {transform: scale(1);
        opacity: 1;
        text-shadow: -5px 5px 0 rgb(22, 9, 33),
                     5px 5px 0 rgb(22, 9, 33),
                     3px -3px 0 rgb(22, 9, 33),
                    -3px -3px 0 rgb(22, 9, 33); 
        
    }
}
.info {
    font-size: 20;
    line-height: 22px;
    color: rgb(22, 9, 33);
    /* color:#db0909; */
    text-shadow: none;
    background-color: #db0909;
    border-radius: 10%;  
    position: absolute;
    bottom: -35px; 
    transform: scaleY(0);  
}
.cover:hover .info {
/*     background-color: #0917db;
 */
 animation-name: ANim_info;
 animation-duration: 0.5s;
 animation-fill-mode: forwards;
 animation-timing-function: ease-in-out;
}
@keyframes ANim_info {
    0% {
        opacity: 0;

        color:#db0909;
    }
    100% {
        opacity: 1;
        transform: scaleY(1);  
        color: rgb(22, 9, 33);
    }
}
#logo2 {
    width: 30%;
    position: relative;
    align-content: center;
}

@media screen and (pointer: coarse), (pointer: none), (hoover: none) {
    .cover {
        animation-name: ANim_borde;
        animation-duration: 6s;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

    }
    .titulo {
        opacity: 1;
        animation-name: ANim_titulo_mobile;
        animation-duration: 3s;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        text-shadow: -5px 5px 0 rgb(22, 9, 33),
                         5px 5px 0 rgb(22, 9, 33),
                         3px -3px 0 rgb(22, 9, 33),
                        -3px -3px 0 rgb(22, 9, 33); 
    }
    .info {
        transform: scaleY(1);
        animation-name: ANim_info_mobile;
        animation-duration: 6s;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    @keyframes ANim_info_mobile {
        0% {background-color:rgb(46, 165, 42);}
        100% {background-color:#db0909; }
    }
    @keyframes ANim_titulo_mobile {
        0% {transform: scale(0.8);

        }
        100% {transform: scale(1);  
 
        }
    }
    
}